<div class="jumbotron">
  <h2>Welcome to the Vacation Tool</h2>
   <%  if user_signed_in? %>
   	<%#= current_user.inspect %>
   	<% if current_user.manager_id == 0 %>
   	  <p>You have not Assigned any Manager yet <p>
   	<% else %>	
     <p> Manager : <%= current_user.try(:manager).try(:name) || 'Not Available' %> <p>
    <% end %> 	
   <p> Total Leaves <%= current_user.leave_record.total_leaves %> </p>
   <p> Leaves Taken <%= current_user.leave_record.leaves_taken %> </p>
   <% end %>
  <p><%= link_to 'Applied for leaves', new_vacation_path, :class => 'btn btn-success btn-lg bt',"data-no-turbolink" => true %></p>
</div>
