<div class="table-responsive">
	<table class="table table-bordered table table-hover table table-striped tablewidth">
  <tr>
    <th> ID </th>
    <th> EMP_NAME </th>
    <th colspan="1">Action</th>

    <% @emp.each do |employee| %>
      <tr>
       <td><%=employee.id%></td>
       <td><%=employee.name%></td>
       <td>
         <%= link_to 'Details', vacation_path(employee) , :class => 'btn btn-success btn-lg bt'  ,"data-no-turbolink" => true%> &nbsp;&nbsp;&nbsp;
        </td>
      </tr>  
    <% end %>
  </tr>  
 </table>
</div>